<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="warehouse_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import warehouse_robot urdf file -->
    <xacro:include filename="$(find moveit_resources_panda_description)/urdf/warehouse_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="warehouse_robot.ros2_control.xacro" />


    <xacro:warehouse_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
